* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(255, 252, 252);
    color: rgb(0, 0, 0);
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
  }
  
  .container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll; 
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  
  .lead {
    font-size: 1.5rem;
  }


  
 
  
  
  .navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(17, 179, 201, 0.7);
  }
  
  .navbar ul {
    /* padding: auto;  */
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
  }

  .my-cart{
    padding: auto;
    display: flex;
    position: relative;
    height: 50px;
    margin-right: 30px;
    margin-top: 5px;
    
  }
  .login{
    padding: auto;
    display: flex;
    /* position: absolute; */
    height: 70px;
    
    margin-top: -4px;

  }
  
  .navbar ul li {
    margin: 0 1rem;
    padding: 3px;
    margin-top: 5px;
  }
  
  .navbar ul li a {
    float: left;
    padding: -25%;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-text-stroke: 0.5px black;
    font-size: 25px;
    color: #dd1111;
  }
  
  .navbar ul li a:hover {
    color: skyblue;
  }


 
  
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
   
    /* Scroll Snap */
    scroll-snap-align: center;
  }

  #carpage {
    height: 35vh;
  }
  
  section h1 {
    font-size: 4rem;
  }
  
  /* Section Images */
 
 .showcase {
  width: 100%;
  height: 100%;
  position: relative;
 }

 .showcase video {
  width: 100%;
  height: 100%;
 
 }

 .text-box{
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(9, 9, 9);
  height: 100%;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90px;
  font-weight: 1000;
  mix-blend-mode: multiply;
 }

  

  
  section#about {
    background: url('https://source.unsplash.com/VRxo0yY-gyM/1600x900') no-repeat center center/cover;;
  }
  
  section#service {
    background: url('https://source.unsplash.com/K2tdx2mFDHc/1600x900') no-repeat center center/cover;;
  }
   #contact{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(contactus.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    border-radius: 10px;
    padding: 100px 0;
    color: #fff;
}


.form2{
  text-align: center;
  left: 500px;
  width: 800px;
  height: 430px;
  /* border-style: dotted; */
  border-radius: 5px;
  padding: 50px;
  text-decoration: none;
}

#contact h2{
  margin-top: 100px;
  width: 220px;
  font-family:inherit;
  color: #ffffff;
  font-size: 20px;
  /* background: transparent; */
  text-decoration: none;
  padding: 8px;
  border-bottom: 1px solid #00ff22;
  border-top: 1px solid #00ff22;
  border-right: 1px solid #ff7200;
  border-left: 1px solid #ff7200;
}

.form2 input{
  width: 300px;
  height: 50px;
  background: transparent;
  border-bottom: 1px solid #fdfdfd;
  border-top: none;
  border-right: none;
  border-left: none;
  color: rgb(252, 252, 252);
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}

.form2 input:focus{
  outline: none;
}

::placeholder{
  color: #fff;
  font-family: Arial;
}

a .btnnn{
  width: 240px;
  height: 40px;
  background: #ff7200;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  transition: 0.4s ease;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.btnnn:hover{
  background: #fff;
  color: #ff7200;
}
.a1{
  justify-content: flex-end;
}
